<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Lucky Blockchain</title>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://d3js.org/d3.v3.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/consensusTree.css" rel="stylesheet">
</head>
<body>
  <script type="application/javascript" src="js/consensusTree.js"></script>
</body>
</html>